
.header{
    background: #BBBBBB;
    /*le decimos que tendra un margen superior he inferior de 20px y 0 en izquierda derecha*/
    padding: 20px 0;
}
.nav-bar{
    /*position no ayuda a colocar una posicion absoluta y mover los emelentos*/
    position: absolute;
    /*Damos un tipo margen de 110 px*/
    top: 110px;
    /*lo dejamos en 0*/
    right: 0;
    
}
.titulo-centralizado{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
.nav-bloqu{
    /*se asigna el valor que necesitamos que tenga*/
    width: 940px;
    /*Podemos mover todos elementos a una posicion */
    position: relative;
    /*le decimos que necesitamos un margen  automatico */
    margin: 0 auto;
}
.nav-bar .lis{
    display: inline;
    margin: 0 0 0 15px;
}

.nav-bar a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size:  22px;
    text-decoration: none;
}

/*Estilos a nuestro Bloque productos*/
.Pro-bloque{
    width: 940px;
  margin: 0 auto;
  padding: 50px;
}
.Pro-bloque .Bloque{
    /*usamos display inline block para crear bloques de espacion de los items*/
display: inline-block;
text-align: center;
/*le decimos que ocupe el 30% de su espacion asigando*/
width: 30%;
vertical-align: top;
margin: 0 1.5%;
/*damos un margen de sepracion entre items */
padding: 30px 20px;
/*Cuando el espacio supera lo propuesto en nuestro html se utiliza*/
box-sizing: border-box;
/*Se coloca una borde de color negro*/
border: 2px #000000 solid;
/*se coloca el border en pixeles*/
border-radius: 30px;

}

.Til_Bloq{
    font-size: 30px;
    font-weight: bold;
}

.Pro_pre{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.Pro_des{
    font-size: 18px;

}
/*Efectos en Css*/
/*con la funcion hover se puede carptura eventos*/
.nav-bar a:hover{
    color: blueviolet;
    text-decoration: underline;
    }
    .Pro-bloque .Bloque:hover{
        border-color: aqua;

    }
    .Pro-bloque .Bloque:active{
        border-color: green;

    }
    .Pro-bloque .Bloque:hover .Til_Bloq{
        font-size:  33px;
    
    }

    /*aqui el pie de pagina */

    footer{
        text-align: center;
        background: url(/BarberiaAlura/img/bg.jpg);
        padding: 40px;

    }
 .foot{
        color: #ffff;
        font-size: 20px;
        margin: 20px;
    }